<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>instagram</title>
    <style>
        .box {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
        }

        .profile {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .modal_overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.8);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
        }

        .modal_window {
            background: white;
            backdrop-filter: blur(13.5px);
            -webkit-backdrop-filter: blur(13.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            width: 800px;
            height: 600px;
            position: relative;
            padding: 10px;
        }
    </style>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- Google Icon -->
    <link
            href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
            rel="stylesheet">

    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg bg-light" style="position: fixed; width: 100%">
    <div class="container-fluid" style="justify-content: space-between">
        <a class="navbar-brand" href="#"><img style="width: 120px"
                                              src="https://i.namu.wiki/i/n1nbOzkKMGFpTGQXKBwMR_jfez3ODbhLLJPIc2YC22KPwABVXMSpxtsHTYqpWe-ZM7oa4V2nNzWAPWlB-yKV9pxvV-COpkr8AGL-VvWMoTC8gB5TOoaZgo0khipyZbJ7J3JMAFe-h8002wrciO-6JA.svg"></a>
        <!-- 검색 창 -->
        <input class="form-control me-2" style="width: 400px" type="search" placeholder="Search" aria-label="Search">
        <div>
            <!-- 집모양 아이콘 -->
            <span class="material-symbols-rounded">home</span>
            <link rel="stylesheet"
                  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0"/>
            <!-- 종이 비행기 아이콘 -->
            <span class="material-symbols-rounded">send</span>
            <!-- 에드 박스 아이콘 -->
            <span id="nav_bar_add_box" class="material-symbols-rounded">add_box</span>
            <!-- 나침반 아이콘 -->
            <span class="material-symbols-rounded">explore</span>
            <!-- 하트 아이콘 -->
            <span class="material-symbols-rounded">favorite</span>
        </div>
    </div>
</nav>


<div style="display: flex; flex-directiom: row; text-align: center; justify-content: center; padding-top: 60px; background-color: #FAFAFA">
    <!-- 왼쪽 박스 -->
    <div style="width: 500px; min-width: 500px; height: 1000px; margin-right: 258px;">
        <!-- 여기서부터 피드박스 -->
        {% for feed in feeds %}
            <div style="border: solid 1px darkgray; background-color: white; margin-bottom: 20px">
                <div style="display: flex; flex-direction: row; align-items: center; margin-left: 20px">
                    <div class="box">
                        <img class="profile" src="{{ feed.profile_image }}">
                    </div>
                    <div>
                        {{ feed.user_id }}
                    </div>
                </div>

                <div><img style="width: 100%" src="{{ feed.image }}"></div>
                <div style="display: flex; flex-direction: row; justify-content: space-between; margin: 0 20px">
                    <div>
                        <span class="material-symbols-rounded">favorite</span>
                        <span class="material-symbols-rounded">chat_bubble</span>
                        <span class="material-symbols-rounded">send</span>
                    </div>
                    <div>
                        <span class="material-symbols-rounded">bookmark</span>
                    </div>
                </div>
                <div style="text-align: left; font-size: 14px; margin: 0 20px"> 춘식이 <b>외 {{ feed.like_count }}명</b>이
                    좋아합니다.
                </div>
                <div style="text-align: left; font-size: 14px; margin: 0 20px">
                    <b>{{ feed.user_id }}</b> {{ feed.content }}</div>
                <div style="text-align: left; font-size: 14px; margin: 0 20px"><b>aaa</b>해회여행 가고싶다.</div>
                <div style="text-align: left; font-size: 14px; margin: 0 20px"><b>bbb</b>나도 가고싶다.</div>
                <div style="border-top: solid 1px gray"><input type="text" class="form-control"
                                                               style="box-shadow: none; border: none; outline: none"
                                                               placeholder="댓글 달기.."></div>
            </div>
        {% endfor %}
    </div>
    <!-- 오른쪽 박스 -->
    <div style="width: 400px; height: 1000px; position: fixed; left: 62%">
        <!-- 내 프로필 -->
        <div style="display: flex; flex-direction: row; align-items: center; margin-left: 20px">
            <div class="box" style="width: 70px; height: 70px">
                <img class="profile"
                     src="http://file3.instiz.net/data/file3/2021/05/31/e/b/8/eb8d9ad2d779ca2a0b7acc2b67694a23.png">
            </div>
            <div style="margin-left: 10p; text-align: left">
                <div style="font-weight: bold">
                    limshyun_
                </div>
                <div style="color: gray">
                    limseunghyun
                </div>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between; margin: 10px 0">
            <div style="font-weight: bold; color: gray">
                회원님을 위한 추천
            </div>
            <div>
                <a href="#" style="font-weight: bold; color: black;text-decoration: none">모두 보기</a>
            </div>
        </div>
        <!-- 추천인 -->
        <!-- 첫번째 추천 -->
        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-left: 20px">
            <div style="display: flex; flex-direction: row;align-items: center">
                <div class="box" style="width: 35px; height: 35px">
                    <img class="profile"
                         src="http://file3.instiz.net/data/file3/2021/05/31/e/b/8/eb8d9ad2d779ca2a0b7acc2b67694a23.png">
                </div>
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold; font-size:  14px">
                        aaaaaaa
                    </div>
                    <div style="color: gray; font-size: 14px">
                        추천 사유가 여기 들어감
                    </div>
                </div>
            </div>
            <div>
                <a href="#" style="font-size: 14px; font-weight: bold; text-decoration: none">팔로우</a>
            </div>
        </div>
        <!-- 두번째 추천 -->
        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-left: 20px">
            <div style="display: flex; flex-direction: row;align-items: center">
                <div class="box" style="width: 35px; height: 35px">
                    <img class="profile"
                         src="http://file3.instiz.net/data/file3/2021/05/31/e/b/8/eb8d9ad2d779ca2a0b7acc2b67694a23.png">
                </div>
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold; font-size:  14px">
                        aaaaaaa
                    </div>
                    <div style="color: gray; font-size: 14px">
                        추천 사유가 여기 들어감
                    </div>
                </div>
            </div>
            <div>
                <a href="#" style="font-size: 14px; font-weight: bold; text-decoration: none">팔로우</a>
            </div>
        </div>
        <!-- 세번째 추천 -->
        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-left: 20px">
            <div style="display: flex; flex-direction: row;align-items: center">
                <div class="box" style="width: 35px; height: 35px">
                    <img class="profile"
                         src="http://file3.instiz.net/data/file3/2021/05/31/e/b/8/eb8d9ad2d779ca2a0b7acc2b67694a23.png">
                </div>
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold; font-size:  14px">
                        aaaaaaa
                    </div>
                    <div style="color: gray; font-size: 14px">
                        추천 사유가 여기 들어감
                    </div>
                </div>
            </div>
            <div>
                <a href="#" style="font-size: 14px; font-weight: bold; text-decoration: none">팔로우</a>
            </div>
        </div>
        <!-- 네번째 추천 -->
        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-left: 20px">
            <div style="display: flex; flex-direction: row;align-items: center">
                <div class="box" style="width: 35px; height: 35px">
                    <img class="profile"
                         src="http://file3.instiz.net/data/file3/2021/05/31/e/b/8/eb8d9ad2d779ca2a0b7acc2b67694a23.png">
                </div>
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold; font-size:  14px">
                        aaaaaaa
                    </div>
                    <div style="color: gray; font-size: 14px">
                        추천 사유가 여기 들어감
                    </div>
                </div>
            </div>
            <div>
                <a href="#" style="font-size: 14px; font-weight: bold; text-decoration: none">팔로우</a>
            </div>
        </div>

        <div style="margin-top: 40px; font-size: 12px; color: gray; text-align: left"> 소개 도움말 홍보센터 API
            <br> 개인정보처리방침 약관 위치 인기 계정 해시태그 언어
        </div>
        <div style="margin-top: 20px; font-size: 12px; color: gray; text-align: left"> 2023 인스타그램 프롬 페이스북</div>
    </div>
</div>

<!-- 모달 창 -->
  <div class="modal_overlay">
      <div class="modal_window">
          <div style="display: flex; flex-direction: row; justify-content: space-between">
              <div style="width: 40px;">

              </div>
              <div>
                  새 이미지 업로드
              </div>
              <div>
                  <span class="material-symbols-rounded">close</span>
              </div>
          </div>
          <div class="img_upload_space" style="background: orange; width: 778px; height: 540px; margin-top: 10px">

          </div>
      </div>
  </div>
  <script>
      $('#nav_bar_add_box').click(function () {
          $('.modal_overlay').css({
              display: 'flex',
          });
          $(document.body).css({
              overflow: 'hidden'
          });
      });
      $('.img_upload_space')
          .on("dragover", dragOver)
          .on("dragleave", dragOver)
          .on("drop", uploadFiles);

      function dragOver(e) {
          e.stopPropagation();
          e.preventDefault();

          if (e.type == "dragover") {
              $(e.target).css({
                  "background-color": "black",
                  "outline-offset": "-20px"
              });
          } else {
              $(e.target).css({
                  "background-color": "orange",
                  "outline-offset": "-10px"
              });
          }
      }


      function uploadFiles(e) {
          e.stopPropagation();
          e.preventDefault();

          e.dataTransfer = e.originalEvent.dataTransfer; //2
          var files = e.target.files || e.dataTransfer.files;
          if (files.length > 1) {
              alert('하나만 올려라.');
              return;
          }

          if (files[0].type.match(/image.*/)) {
              $(e.target).css({
                  "background-image": "url(" + window.URL.createObjectURL(files[0]) + ")",
                  "outline": "none",
                  "background-size": "100% 100%"
              });
          } else {
              alert('이미지가 아닙니다.');
              return;
          }
          Colored
      }


</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
  </body>
</html>